{% extends '::base.html.twig' %}

{% block title %}GeekHub Students Stats{% endblock %}

{% block body %}
    <div class="row" style="margin: 40px auto;">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Students</div>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Github</th>
                        <th>Project</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.firstName }}</td>
                            <td>{{ student.lastName }}</td>
                            <td><a href="{{ path('app_student_get', {'slug': student.slug}) }}">{{ student.github }}</a></td>
                            <td>{{ student.project }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}